body {background-image: url(imagem6.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

{ text-align: center ;
}

.part1 { text-align: left;
        color: blueviolet;
}

.part2 {border-color: powderblue;
border-width: 3px;
border-style: outset;
margin-right: 85%;
text-align: left;
font-weight: bold;
}

.part3 {border-color: powderblue;
    border-width: 3px;
    border-style: outset;
    margin-right: 85%;
    text-align: left;
    font-weight: bold;
}    

.part4 {border-color: powderblue;
    border-width: 3px;
    border-style: outset;
    margin-right: 85%;
    text-align: left;
    font-weight: bold;
}


.part5 {border-color: powderblue;
    border-width: 3px;
    border-style: outset;
    margin-right: 85%;
    text-align: left;
    font-weight: bold;
} 

.part6 {border-color: powderblue;
    border-width: 3px;
    border-style: outset;
    margin-right: 85%;
    text-align: left;
    font-weight: bold;
}

#ima2 {width: 25%;
margin-left: 25%;
}

#ima1 { width: 25%;
margin-left: 25%;
}

#ima3 { width: 25%;
    margin-left: 25%;}

#ima4 { width: 25%;
    margin-left: 25%;}

#ima5 { width: 25%;
    margin-left: 25%;}
